{% extends 'base.html' %}
{% block mycontent %}

<div class="container">
        <div class="row">
            <div class="col col-12 col-sm-6 col-m-4">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora voluptatum nisi illo dolore officia at repudiandae et eius, magni quo expedita odio. Culpa adipisci eaque ut maxime veritatis porro voluptas.

            </div>
            <div class="col col-12 col-sm-6 col-md-8">
                    <table class="table">
                            <tr>
                                <td>Student name</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>rollno</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>admission no</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><Button class="btn btn-danger" >SUBMIT</Button></td>
                            </tr>
                        </table>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ea tempore, pariatur excepturi dolor natus eum, explicabo autem sed odit vel iste saepe possimus! Libero vel aliquid quidem laborum eius?
            </div>
        </div>
    </div>


{% endblock %}
    