{% extends 'base.html' %}

{% block mycontent %}

<h1>mountzion college</h1>
    <table class="table">
        <tr>
            <td>Student name</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>rollno</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>admission no</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td></td>
            <td><Button class="btn btn-danger" >SUBMIT</Button></td>
        </tr>
    </table>


{% endblock %}
        
              
              
              
              
    